/test/thumbnail
3rdparty
build
msvs
install
config
/test/examples
/spam/hoard
/spam/unittest/rdata
/spam/unittest/idata
/spam/vectorclass
/spam/ensmallen
/spam/armadillo
/apex/modules/text
/apex/.github
/apex/doc
/apex/samples
/apex/.gitattributes
/apex/.gitignore
/apex/.travis.yml
/apex/CONTRIBUTING.md
/apex/LICENSE
/apex/README.md
/apex/modules/cudalegacy
/apex/modules/cudaobjdetect
/apex/modules/cudaoptflow
/apex/modules/cudastereo
/apex/modules/cudawarping
/apex/modules/cudev
/apex/modules/cvv
/apex/modules/datasets
/apex/modules/dnn_objdetect
/apex/modules/dnn_superres
/apex/modules/dnns_easily_fooled
/apex/modules/dpm
/apex/modules/face
/apex/modules/freetype
/apex/modules/fuzzy
/apex/modules/hdf
/apex/modules/hfs
/apex/modules/img_hash
/apex/modules/line_descriptor
/apex/modules/matlab
/apex/modules/aruco
/apex/modules/bgsegm
/apex/modules/bioinspired
/apex/modules/ccalib
/apex/modules/cnn_3dobj
/apex/modules/cudaarithm
/apex/modules/cudabgsegm
/apex/modules/cudacodec
/apex/modules/cudafeatures2d
/apex/modules/cudafilters
/apex/modules/cudaimgproc
/apex/modules/shape
/apex/modules/stereo
/apex/modules/structured_light
/apex/modules/superres
/apex/modules/surface_matching
/apex/modules/tracking
/apex/modules/videostab
/apex/modules/viz
/apex/modules/xfeatures2d
/apex/modules/ximgproc
/apex/modules/xobjdetect
/apex/modules/xphoto
/apex/modules/README.md
/apex/modules/optflow
/apex/modules/ovis
/apex/modules/phase_unwrapping
/apex/modules/plot
/apex/modules/quality
/apex/modules/reg
/apex/modules/rgbd
/apex/modules/saliency
/apex/modules/sfm
.vs
__pycache__
reports
/test/data
