[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/jeffwong728/opencv.git
[submodule "3rdparty/mimalloc"]
	path = 3rdparty/mimalloc
	url = https://github.com/jeffwong728/mimalloc.git
[submodule "3rdparty/lib2geom"]
	path = 3rdparty/lib2geom
	url = https://gitlab.com/wwang728/lib2geom.git
[submodule "3rdparty/wxWidgets"]
	path = 3rdparty/wxWidgets
	url = https://github.com/jeffwong728/wxWidgets.git
[submodule "3rdparty/wxSVG"]
	path = 3rdparty/wxSVG
	url = https://github.com/jeffwong728/wxSVG.git
[submodule "spam/pybind11"]
	path = spam/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "spam/glm"]
	path = spam/glm
	url = https://github.com/g-truc/glm.git
[submodule "spam/ui/imgui"]
	path = spam/ui/imgui
	url = https://github.com/ocornut/imgui.git
