/test/thumbnail
build
msvs
install
config
/test/examples
/spam/hoard
/spam/unittest/rdata
/spam/unittest/idata
/spam/ensmallen
/spam/armadillo
/spam/.VSCodeCounter
/apex/.github
/apex/doc
/apex/samples
/apex/.gitattributes
/apex/.gitignore
/apex/.travis.yml
/apex/CONTRIBUTING.md
/apex/LICENSE
/apex/README.md
.vs
__pycache__
reports
/test/data
/3rdparty/opencv_contrib
