.window-frame
{
    box-shadow: none;
    margin: 0;
}

button
{
    border-radius: 5px;
}

button:hover
{
    background : #58595b;
}

toolbar button
{
    padding: 2px;
}

toolbar separator
{
    margin: 2px;
    background: #58595b;
}

button:checked
{
    background: #1e79c9;
}

toolbar button:checked
{
    background : #1e79c9;
}
